<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parsons">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
        <activity
            android:name=".ui.acct.Login"
            android:exported="false" />
        <activity
            android:name=".ui.acct.Registration"
            android:exported="false" />

        <service
            android:name=".ExternalMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".Firebase"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.chat.Chat"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Parsons.NoActionBar" />

        <activity
            android:name=".Baker"
            android:exported="false"
            android:label="@string/title_activity_baker" />
        <activity
            android:name=".ui.cart.sendingOrder"
            android:exported="false" />
        <activity
            android:name=".Loading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.cart.Cart"
            android:exported="false" />
        <activity
            android:name=".ui.order.MenuCustomization"
            android:exported="false"
            android:label="@string/title_activity_menu_customization"
            android:theme="@style/Theme.Parsons.NoActionBar" />
        <activity
            android:name=".ui.order.CategorySection"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".AndroidDatabaseManager" />
    </application>

</manifest>